/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-size: 100%;
}
body{
  min-height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: #2d314d;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 63.97em) {
  h3,h4{
    font-size: 1rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
#main{
  margin-top: 7.5em;
  margin-bottom: 5em;
}
@media (min-width: 64em) {
  .container {
    max-width: 70em;
    margin: 0 auto;
  }
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 6.5em;
  background: #f9f9f9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1500px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
nav .navbar .logo img{
  margin-left: -0.5em;
  max-width: 100%;
}
nav .navbar .nav-links{
  line-height: 7em;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 7em;
  text-align: center;
  display: inline-block;
  color: #000;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu{
  position: absolute;
  top: 5em;
  left: 0;
  line-height: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  margin-top: 0.5em;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.navbar .links li a::after{
  position: absolute;
  content: "";
  left: 0;
  bottom: 2.5rem;
  width: 100%;
  height: 0.3125rem;
  background: linear-gradient(to right, #F0B429, #F47920);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.navbar .links li .sub-menu a::after{
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.25rem;
  width: 100%;
  height: 0.3125rem;
  background: linear-gradient(to right, #F0B429, #F47920);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.navbar .links li  a:hover{
  color: #005883;
  
}
.navbar .links li a:hover::after {
  opacity: 1;
}
/*Boton monitores*/
button,
.button {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  padding: 0.8125rem 2.1875rem;
  border-radius: 3.125rem;
  background: linear-gradient(to right,  #F0B429, #F47920);
  color: white;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}
button::after,
.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

button:hover::after,
.button:hover::after {
  opacity: 1;
}
.button:hover{
  color: #005883;
}
/*Barra de busqueda*/
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3E8DA8;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3E8DA8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 1em;
  }
}
@media (max-width:980px){
  .navbar .bx-menu{
    display: block;
    margin-left: -0.5em;
  }
  nav .navbar .logo img{
    margin-left: 0.5em;
    width: 100%;
  }
  .hide-for-mobile{
    display: none;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 400px;
    width: 100%;
    background:  #f3f3f3;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    z-index: 1000;
  }
  .navbar .links li  a:hover{
    color: #005883;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #005883;
  }
  .sidebar-logo  i,
  .navbar .bx-menu{
    font-size: 2em;
    color: #005883;
  }
  .sidebar-logo{
    background: linear-gradient(to right,  #F0B429, #F47920);
    padding-left: 1em;
  }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
  nav .navbar .links li{
      display: block;
      margin: auto;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  }
  nav .navbar .links li .sub-menu li a{
    color: #005883;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: -1em;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu{
      display: block;
      background-color: #f3f3f3;
      /*background-color: rgba(240, 180, 41, 0.7);*/
    }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow{
      transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow{
    transform: rotate(90deg);
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu{
    width: 10em;
  }
}
@media (max-width:370px){
  nav .navbar .nav-links{
    max-width: 100%;
  } 
}
/*BODY DE LA PÁGINA*/

.hero {
  background: #fff;
}
.hero .container {
  margin-top: 5em;
  min-height: 80vh;
  padding: 0;
}
@media (max-width: 63.9375em) {
  .hero .container {
    padding: 0;
  }
}

@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}

.hero .hero-image {
  position: relative;
  background: url(../img/bg.png)
    no-repeat center/cover;
  min-height: 15rem;
  
}
.bg_navidad{
  margin-top: 1em!important;
  margin-bottom: -14em!important;
  width: 100%;
}
@media (min-width: 40em) {
  .hero .hero-image {
    min-height: 35em;
    background-position-y: 70%;
  }
}

@media (min-width: 64em) {
  .hero .hero-image {
    flex: 2;
    order: 2;
    min-height: 30em;
    background-image: none;
  }
  .hero .hero-image::before {
    content: "";
    position: absolute;
    height: 110%;
    width: 120%;
    background: url(../img/bg.png)
      no-repeat 55% 83%/100%;
  }
}

.hero .hero-image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url()
    no-repeat center bottom/93%;
}

@media (min-width: 40em) {
  .hero .hero-image::after {
    background-size: 53%;
  }
}

@media (min-width: 64em) {
  .hero .hero-image::after {
    width: 119%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 19%;
  }
}

.hero .hero-text {
  text-align: center;
  display: block;
}

@media (max-width: 63.9375em) {
  .hero .hero-text {
    padding: 3.125rem 1.5rem;
    display: block;
  }
  .hero .hero-text p {
    font-size: 75%;
    line-height: 1.5;
    margin-bottom: 1.875rem;
  }
  .bg_navidad{
    margin-top: -3em!important;
    margin-bottom: -5em!important;
    width: 100%;
  }
}

@media (min-width: 64em) {
  .hero .hero-text {
    flex: 2;
    order: 1;
    display: block;
  }
}

.hero .hero-text h1 {
  font-size: 2rem;
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .hero .hero-text h1 {
    font-size: 2.5rem;
  }
}

.hero .hero-text p {
  line-height: 1.5;
  margin-bottom: 1.875rem;
  color: #005883;
  text-align: center;
}
#hashtag {
  color: #F47920;
}

.footer {
  position: fixed;
  margin-top: 2em;
  bottom: 0;
  width: 100%;
  background: #005883;
  padding: 2rem;
  text-align: center;
}
@media (max-width: 63.9375em) {
  .footer {
    font-size: 60%;
  }
}
@media (min-width: 64em) {
  .footer {
    padding: 1.125rem;
  }
}

@media (min-width: 64em) {
  .footer .container {
    display: grid;
    grid-template-areas:
      "logo col1 col2 cta"
      "social col1 col2 copyright";
    justify-items: start;
    gap: 1rem;
  }
}

/*CONTACTO MONITORES*/
#titulo-monitores{
  font-weight: 800;
	margin-top: -1.5rem;
	margin-bottom: 0.5rem;
	color: #F8712E;
}
#lider #post-contacto{
  max-width: 30%;
  margin: auto;
}
#post-contacto{
	max-width: 70%;
	display: block;
	margin: auto;
  box-shadow: #9698a6;
}
#texto-lider{
  font-weight: 800;
  font-size: 1em;
	color: #000000;
	margin: 1rem;
}
#titulo-monitores{
	margin-top: 1rem;
}
.contenedor-anuncio{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#img-contacto{
  border-radius: 50%;
  max-width: 50%;
}
@media (min-width: 63.9374em){
  #contacto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #post-contacto{
      flex: 1;
  }
}
@media (max-width: 63.9374em){
  #texto-lider{
    font-size: 70%;
  }
  #contacto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
#post-contacto, .contenido-anuncio{
  width: 35%;
	height: 50%;
	border: 1px solid #B3B6B7;
	border-radius: 1rem;
	margin: 2rem;
	padding: 0.5rem;
}
#post-contacto p{
	margin-left: 0.5rem;
}
#datos-contacto{
  margin-right: -0.5em;
	display: flex;
	flex-wrap:nowrap;
}
#datos-contacto p.fecha{
  color: #000000!important;
  margin-top: 0;
  margin-left: 1em;
}
.nombre{
	font-weight: 800;
	color: #005883;
	margin-top: 0;
	margin-bottom: 0;
}
.zona{
	font-weight: 800;
	color: #F8712E;
	margin-top: 0;
	margin-bottom: 0;
}
#icono-contacto{
	margin-top: 0.4rem;
  font-size: inherit;
  color: #005883;
}
@media (max-width: 63.9375em) {
  #titulo-monitores{
    margin-top: 1rem;
  }
  .contenedor-anuncio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #post-contacto, .contenido-anuncio{
    width: 44%;
    height: 50%;
    border: 1px solid #B3B6B7;
    border-radius: 1rem;
    margin: 1em auto;
    padding: 0.5rem;
  }
  .contenido-anuncio{
    width: 100%;
    height: 50%;
  }
  #post-contacto p{
    font-size: 55%!important
  }
  div #datos-contacto{
    margin-left: -0.5rem;
    display: block;
  }
  #datos-contacto p.fecha{
    font-size: 1rem;
    color: #000000!important;
  }
  .nombre{
    font-size: 1.2rem!important;
    font-weight: 800;
    color: #2274F2;
    margin-top: 0;
    margin-bottom: 0;
  }
  .zona{
    font-size: 1rem!important;
    font-weight: 800;
    color: #F8712E;
    margin-top: 0;
    margin-bottom: 0;
  }
}
#divBtn{
  max-width: 15%;
  margin: auto; 
}
#divBtn a {
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 1.5rem;
  margin: 1rem auto;
  align-items: center;
}
/* Botones de anuncios */
#botones, .boton {
	color: #ffffff;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	display: inline-block;
	text-align: center;
	border:none;
}	
.boton:hover {
	cursor: pointer;
	background-color: #F8712E;
	color: white;
}
.boton-amarillo {
	background-color: #FFB439;
	border-radius: 1rem;
}
#via-evento img{
	margin: 0.5rem auto -0.5rem;
	max-width: 3rem;
	display: inline-block;
}
/* Contenido de anuncios */
#anuncio {
	color: #000000;
	flex-basis: calc(33.3% - 4rem);
	border: 1px solid #B3B6B7;
	border-radius: 1rem;
	background: #F5F9FF;
	padding: 0.5rem;
	margin: 2rem auto;
  width: 30em;
}
#anuncio #contenido-anuncio p{
  width: 90%;
  margin: auto;
}
@media (max-width: 63.9375em){
  #anuncio #contenido-anuncio p{
    font-size: 1em;
  }
  #anuncio {
    width: 20em;
  }
}
#contenido-anuncio {
	text-align: center;
  font-size: 0.8em;
}
#contenido-anuncio h3 {
	margin: 0;
	word-spacing: -0.5rem;
} 
#contenido-anuncio p {
	margin: 0;
  font-weight: 700;
}
.fecha {
	color: #2274F2;
	font-weight: 700;
  margin: auto;
}
div.logo-zoom img{
  margin-right: -5em;
	max-width: 3.3rem;
}
p.codigo-acceso{
	color: #F8712E!important;
	font-weight: 900!important;
}
#contenedor-anuncios {
	display: flex;
  justify-content: center;
  align-items: center;
}
#botones-evento{
  display: inline-block;
	flex-wrap:nowrap;
}
@media (max-width: 63.9375em){
  #botones-evento a{
    font-size: 60%;
  }
}
/* Paginación de los anuncios */
#paginacion {
	margin-top: -0.5rem;
	text-align: center;
}
#paginacion a {
	font-size: 0.8rem;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0.5rem 1.5rem;
	margin: 1rem auto;
}
.paginacion a:hover {
	background-color: #F8712E;
	color: black;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 601px) {
  .column {
    width: 30%;
    display: block;
    margin: auto;
  }
  .row{
    margin: auto;
    width: 80%;
  }
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 1em;
}
